
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4><strong>ToDo</strong></h4>
			</div>
			<div class="panel-body">
				<table class="table">
					<!-- <thead>
						<h5>Task Description...</h5>
					</thead> -->
					<tbody>
					<tr>
						<label for="basic-addon1">Task Description</label>
						<div class="input-group">
						  <span class="glyphicon glyphicon-pencil input-group-addon" id="basic-addon1"></span>
						  <input type="text" class="form-control" ng-model="main.li.newDescription" aria-describedby="basic-addon1">
						</div>
					</tr>
					<tr><br/></tr>
					<tr>
						<label for="priorityDropDown">Priority</label>
						 <select ng-model="main.li.newPriority" class="form-control" name="priorityDropDown">
	                        <option  value="high-priority-text">1</option>
	                        <option value="medium-priority-text">2</option>
	                        <option value="low-priority-text">3</option>
	                    </select>
					</tr>	
					<tr><br/></tr>
					<tr>
						<button class="btn btn-primary btn-block" ng-click="main.addToDo()">Add ToDo...</button>
					</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="toDoOutput" class="col-md-6">
				<div id="sort-buttons" class="btn-group">
					<button class="btn btn-danger" ng-click="sortField = 'priorityNumber'; reverse = false"  type="button">Order by Highest</button>
					<button class="btn btn-success" ng-click="sortField = 'priorityNumber'; reverse = true"  type="button">Order by Lowest</button>
					<button class="btn btn-primary" ng-click="sortField = 'description'; reverse = false"  type="button">Order by Text</button>
				</div>
		<ul>
			
			<li ng-repeat="listItem in main.toDosList | orderBy:sortField : reverse" class="{{listItem.priorityClass}}" >

			<div class="btn-group pull-left">
				<button ng-click="editing = true" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-pencil"></span></button><button ng-click="main.removeToDo(listItem)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-erase"></span></button>
			</div>
			<div id="item-output" ng-hide="editing">&nbsp &nbsp{{listItem.description}}</div>
			<input ng-model="listItem.description" ng-show="editing" ng-blur="editing = false; main.editTodo(listItem)">
			</li>
		</ul>

	</div>
</div>